.Chat {
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: hidden;

    .message-list {
        list-style-type: none;
        padding: 1em;
        margin: 0;
        flex: 1;
        overflow: auto;
    }
}
