@import "../../../design-tokens/colors.module.scss";

.Login {
    padding: 2em;
    flex: 1;
    background: url("../../../assets/images/background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 0;
}
