@import "../../../design-tokens/colors.module.scss";

.Input {
    &[type="text"],
    &[type="password"],
    &[type="submit"] {
        font-size: 1em;
        line-height: 1em;
        padding: 0.5em 1em;
        border-radius: 4px;
    }

    &[type="text"],
    &[type="password"] {
        border: 1px solid darken($white, 10%);
    }

    &[type="submit"] {
        cursor: pointer;
        text-align: center;
        margin: 0;
        border: none;
        color: $white;
        text-transform: uppercase;
        font-weight: bold;
        background: $secondary-main;
        transition: background-color 0.3s;

        &:hover {
            background-color: darken($secondary-main, 10%);
        }
    }
}
